<div class="container-fluid fullPageNotes">
    <div class="row row-navbar-menuPrincipal">
        <h1 class="col-xs-4 col-md-3 title">
            <img src="images/logo2.png" class="logoMinimal hidden-xs hidden-sm"
                id="testMobile" />
            <span class="hidden-xs hidden-sm animated fadeIn ">
                <b id="not">!e</b>nebulas</span>
            <button class="btn rectFeaturesSettings visible-xs visible-sm"
                id="sidebarIcon" name="sidebarEvent"
                data-toggle="offcanvas">
                <i class="fa fa-bars" aria-hidden="true">
                </i>

            </button>
        </h1>
        <div class="col-xs-4 col-md-6 divEditor"
            id="ricerca">
            <div class="input-icon">
                <a href="#" class="hidden-xs hidden-sm">
                    <i class="fa fa-search"></i>
                </a>
                <input type="text" placeholder="Ricerca note e categorie ..."
                    class="form-control hidden-xs hidden-sm"
                    ng-model="searchText" ng-change="noSearchResult = localStoredNotes.filter(searchAndTagFilter).length == 0">
            </div>

        </div>
        <div class="col-xs-4 col-md-1 divEditor"
            style="float: left;" id="settings">

            <button class="btn rectFeaturesSettings  hidden-xs hidden-sm"
                data-toggle="modal" data-target="#myModal3"
                type="button" data-tooltip="tooltip"
                data-placement="bottom" title="Impostazioni">
                <i class="fa fa-cog fa-spin" aria-hidden="true">
                </i>
            </button>

        </div>
        <!-- SIDEBAR
                 visible-xs after clicking -->
        <div class="col-xs-8 col-md-9 visible-xs visible-sm logoCentered">
            <img src="images/logo2.png" class="logoMinimal right"
                style="margin-left: 75px;" />
        </div>
        <!-- sidebar MOBILEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE CAPITO?!?! -->
        <div class="col-xs-6 col-sm-4 no-text sidebar-offcanvas hidden-md hidden-lg">
            <ul data-spy="affix" data-offset-top="120"
                id="affix" class="nav nav-stacked">
                <li>
                    <input type="text" placeholder="Ricerca note e categorie..."
                        class="form-control" ng-model="searchText">
                </li>
                <li class="sidebarElement" ng-click="addButtonPressed()"
                    id="addMobile" style="margin-left: 8px;">
                    <i class="fa fa-plus" aria-hidden="true">
                    </i>
                </li>
                <li class="sidebarElement" ng-click="editButtonPressed()"
                    id="editMobile">
                    <i class="fa fa-pencil" aria-hidden="true"
                        id="yellow"></i>
                </li>

                <li class="sidebarElement" data-toggle="modal"
                    data-target="#myModal2">
                    <i class="fa fa-paint-brush" aria-hidden="true"
                        id="purple"></i>
                </li>
                <li class="sidebarElement" data-toggle="modal"
                    data-target="#myAttachModal">
                    <i class="fa fa-paperclip" aria-hidden="true"
                        id="grey"></i>
                </li>
                <li class="sidebarElement" data-toggle="modal" data-target="#myShareModal">
                    <i class="fa fa-share-alt" aria-hidden="true"
                        id="light"></i>
                </li>

                <li class="sidebarElement" style="float: none;"
                    data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-trash" aria-hidden="true"
                        id="orange"></i>
                </li>

            </ul>

            <div class="noteMobileContainer">

                <div class="blockNoteMobile" ng-repeat="x in localStoredNotes | filter:searchFilter | filter:tagFilter"
                    style="background-color: {{x.doc.color}}">
                    <div ng-click="open(x)">
                        <h1 ng-style="{color: isNoteOpaque(x) ? 'white' : 'black'}">
                            {{x.doc.title}}</h1>

                    </div>
                    <div id="blockNoteErrorMobile"
                        ng-show="noSearchResult">
                        <h2>
                            <br />
                            <i class="fa fa-exclamation-circle">
                            </i>
                            <br />
                            Oops, non ho trovato note</h2>
                    </div>
                </div>
            </div>
            <hr />
            <li class="sidebarElement deleteAllMobile"
                data-toggle="modal" data-target="#myModal">
                Elimina tutto
            </li>
        </div>
        <!-- FINE MOBILEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE -->

        <!-- Modal -->
        <div id="myModal3" class="modal fade modal-vertical-centered"
            role="dialog">
            <div class="modal-dialog modal-sm">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                            data-dismiss="modal">
                            &times;</button>
                        <h4>Impostazioni
                        </h4>
                    </div>
                    <div class="modal-body">

                        <h4>Ripristina cestino
                        </h4>
                        <button class="col-xs-12 btn btn-warning"
                            type="button" style="color:black;">
                            <i class="fa fa-trash-o" aria-hidden="true" style="font-size:17pt;">
                    </i> <b class="badge" style="color:white; background:black;">0</b>
                        </button>
                        <div class="modal-footer">
                            <h4 style="float: left;">Area Temibile
                            </h4>
                            <button class="btn btn-danger col-xs-12 btnOptions"
                                style="color: white;"
                                data-tooltip="tooltip" data-placement="bottom" data-dismiss="modal"
                                title="Attenzione! Questa azione &egrave irreversibile" data-toggle="modal" data-target="#myLastDeleteModal">
                                Distruggi
                            tutto!</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <aside class="col-md-3 hidden-sm hidden-xs asideNotes">
            <!-- hidden-xs -->
            <div class="no-text">
                
               <!-- <div class="searchCategories no-text">

                    <select class="insertCategories js-example-responsive"
                        multiple="multiple" style="width: 30%;">
                    </select>

                </div>
                -->
                <div id="blockNoteError" ng-show="noSearchResult">
                    <h2>
                        <br />
                        <i class="fa fa-exclamation-circle">
                        </i>
                        <br />
                        Oops, non ho trovato note</h2>
                </div>
                <div class="blockNote" ng-repeat="x in localStoredNotes | filter:searchFilter | filter:tagFilter"
                    style="transition: background 0.3s ease-in-out;
                    background-color: {{x.doc.color}}">
                    <div ng-click="open(x)">
                        <h1 ng-style="{color: isNoteOpaque(x) ? 'white' : 'black'}">
                            {{x.doc.title}}</h1>
                        <h4 ng-style="{color: isNoteOpaque(x) ? 'white' : 'black'}">
                            Creato il {{x.doc.creationDate.day}}/{{x.doc.creationDate.month}}/{{x.doc.creationDate.year}}
                            <br />
                            Ultima modifica: {{formatLastEditTime(x.doc.lastEditDate)}}
                        </h4>
                        <h3 ng-style="{color: isNoteOpaque(x) ? 'white' : 'black'}">
                            {{previewText(x.doc.content)}}
                        </h3>
                    </div>
                </div>
            </div>
            <div id="preview1" class="col-md-4 col-lg-4 notesExamples out">
            </div>
        </aside>


        <div class="col-md-1">
        </div>
        <section class="col-md-8 sectionNotes">
            <div class="row">

                <!-- hidden-xs while clicking -->
                <button class="col-xs-3 btn circleFeatures hvr-box-shadow-inset"
                    id="addFeatures" name="add"
                    data-tooltip="tooltip" title="Crea Nota"
                    ng-click="addButtonPressed()">
                    <i class="fa fa-plus" aria-hidden="true">
                    </i>
                </button>

                <button class="col-xs-3 btn circleFeatures no-display hidden-xs hidden-sm"
                    id="editFeatures" name="personalize"
                    data-tooltip="tooltip" title="Visualizza/Modifica"
                    ng-click="editButtonPressed()">
                    <i class="fa fa-pencil" aria-hidden="true">
                    </i>
                </button>


                <button class="col-xs-3 btn circleFeatures no-display hidden-xs hidden-sm"
                    id="customFeatures" data-tooltip="tooltip"
                    title="Personalizza"
                    data-toggle="modal" data-target="#myModal2">

                    <i class="fa fa-paint-brush" aria-hidden="true">
                    </i>
                </button>


                <button class="col-xs-3 btn circleFeatures no-display hidden-xs hidden-sm"
                    id="uploadFeatures" name="attachfile"
                    data-tooltip="tooltip" data-toggle="modal"
                    data-target="#myAttachModal"
                    title="Allega file">
                    <!--mio -->
                    <i class="fa fa-paperclip" aria-hidden="true">
                    </i>
                </button>

                <button class="col-xs-3 btn circleFeatures no-display hidden-xs hidden-sm"
                    id="deleteFeatures" name="delete"
                    data-toggle="modal" data-tooltip="tooltip"
                    title="Cancella"
                    data-target="#myModal">
                    <i class="fa fa-trash-o" aria-hidden="true">
                    </i>
                </button>
                <!-- Modal -->
                <div id="myModal2" class="modal fade"
                    role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close"
                                    data-dismiss="modal">
                                    &times;</button>
                                <h4 class="modal-title">Scegli il
                                    colore per questa nota</h4>
                            </div>
                            <div class="modal-body">
                                <button class="modalColors btn circleFeatures black"
                                    ng-click="editColor('rgb(0,0,0)')"
                                    data-dismiss="modal">
                                </button>
                                <button class="modalColors btn circleFeatures dark"
                                    ng-click="editColor('rgb(68,68,68)')"
                                    data-dismiss="modal">
                                </button>
                                <button class="modalColors btn circleFeatures grey"
                                    ng-click="editColor('rgb(190,190,190)')"
                                    data-dismiss="modal">
                                </button>
                                <button class="modalColors btn circleFeatures red"
                                    ng-click="editColor('rgb(255,0,0)')"
                                    data-dismiss="modal">
                                </button>
                                <button class="modalColors btn circleFeatures orange"
                                    ng-click="editColor('rgb(255,128,0)')"
                                    data-dismiss="modal">
                                </button>
                                <button class="modalColors btn circleFeatures yellow"
                                    ng-click="editColor('rgb(255,255,0)')"
                                    data-dismiss="modal">
                                </button>
                                <button class="modalColors btn circleFeatures green"
                                    ng-click="editColor('rgb(102,204,0)')"
                                    data-dismiss="modal">
                                </button>
                                <button class="modalColors btn circleFeatures blue"
                                    ng-click="editColor('rgb(140,158,255)')"
                                    data-dismiss="modal">
                                </button>
                                <button class="modalColors btn circleFeatures beige"
                                    ng-click="editColor('rgb(198, 142, 71)')"
                                    data-dismiss="modal">
                                </button>
                                <button class="modalColors btn circleFeatures darkblue"
                                    ng-click="editColor('rgb(0,0,102)')"
                                    data-dismiss="modal">
                                </button>
                                <button class="modalColors btn circleFeatures purple"
                                    ng-click="editColor('rgb(160, 0, 255)')"
                                    data-dismiss="modal">
                                </button>
                                <button class="modalColors btn circleFeatures pink"
                                    ng-click="editColor('rgb(255,51,255)')"
                                    data-dismiss="modal">
                                </button>

                            </div>
                            <div class="modal-footer">
                                <button class="modalColors btn circleFeatures white"
                                    data-dismiss="modal">
                                    <i class="fa fa-plus"
                                        aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Modal -->
                <div id="myAttachModal" class="modal fade"
                     role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close"
                                        data-dismiss="modal">
                                    &times;</button>
                                <h2 class="modal-title">Allega un file a questa nota.</h2>
                            </div>
                            <div class="modal-body">
                                <h4>
                                    Seleziona un file di massimo 2 MB da allegare alla tua nota.
                                </h4>
                            </div>
                            <div class="modal-footer">
                                    <div id="results" class="alert alert-info" role="alert">...</div>
                                    
                                    <input type="file" id="filechooser" class="filestyle" data-buttonBefore="true">
                                    
                                    <button class="btn btn-info btn-file" type="button" id="upload-button" ng-click="checkBucket()">
                                        Upload
                                    </button>
                                   
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div id="myShareModal" class="modal fade"
                     role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close"
                                        data-dismiss="modal">
                                    &times;</button>
                                <h2 class="modal-title">Condividi questa nota con qualcuno!</h2>
                            </div>
                            <div class="modal-body">
                                <h4>
                                    <a href="#">Facebook <i class="fa fa-facebook-square"
                                                            aria-hidden="true"></i></a>
                                    <a href="#">Twitter <i class="fa fa-twitter-square"
                                                           aria-hidden="true"></i></a>
                                    <a href="#">Orazio <i class="fa fa-user-secret"
                                                          aria-hidden="true"></i></a>
                                    <a href="#">Alemanno <i class="fa fa-user-secret"
                                                          aria-hidden="true"></i></a>

                                </h4>
                            </div>
                            <div class="modal-footer">

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div id="myLastDeleteModal" class="modal fade"
                    role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close"
                                    data-dismiss="modal">
                                    &times;</button>
                                <h2 class="modal-title">Sei sicuro di eliminare tutte le note?</h2>
                            </div>
                            
                            <div class="modal-footer">
                                <button class="btn btn-default" data-dismiss="modal">No</button>
                                <button class="btn btn-danger" ng-click="deleteAll()">Si</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div id="myModal" class="modal fade"
                    role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close"
                                    data-dismiss="modal">
                                    &times;</button>
                                <h4 class="modal-title">Cancellare
                                    la nota?</h4>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Sicuro di voler eliminare questa
                                    nota?
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-warning delete-yes"
                                    ng-click="delete()" data-dismiss="modal">
                                    Si, eliminala</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="dropdown">
                    <button class="col-xs-3 btn circleFeatures dropdown-toggle no-display hidden-xs hidden-sm"
                        type="button" data-toggle="dropdown"
                        id="shareFeatures" name="share"
                        data-tooltip="tooltip" title="Condividi">
                        <i class="fa fa-share-alt" aria-hidden="true">
                        </i>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-right"
                        style="margin-right: 1%;">
                        <li><a href="#">Facebook <i class="fa fa-facebook-square"
                            aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#">Twitter <i class="fa fa-twitter-square"
                            aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#">Orazio <i class="fa fa-user-secret"
                            aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#">Alemanno <i class="fa fa-user-secret"
                            aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- campo di testo -->
                <!-- si bugga se non metti uno spazio xd -->

                <div class="col-xs-12 no-text">
                </div>

                <div class="blockNoteContainer col-xs-12">
                    <div class="blockNotePreview" style="background-color: {{currentNote.doc.color}}">
                        <h1 ng-style="{color: isNoteOpaque(currentNote) ? 'white' : 'black'}">
                            {{currentNote.doc.title}}</h1>
                        <article ng-style="{color: isNoteOpaque(currentNote) ? 'white' : 'black'}">
                            <ng-bind-html
                                    ng-bind-html="currentNote.doc.content">
                            </ng-bind-html>
                            <!--{{currentNote.doc.content}}-->
                        </article>
                    </div>
                </div>
                <div class="editArea no-show">


                    <input type="text" class="col-xs-12 inputArea no-text"
                        maxlength="80" placeholder="Senza titolo"
                        ng-model="title" />
                    <!-- <input type="text" class="col-xs-12 inputCategory no-text"
                    maxlength="80" placeholder="Categoria"
                    ng-model="category" /> -->

                    <div class="no-show" style="float: none;
                        clear: both;">

                        <div style="position: relative;"
                            class="no-text">

                            <select class="col-xs-12 selectCategories js-example-responsive"
                                multiple="multiple" style="width: 300px;">
                            </select>

                        </div>

                        <div class="no-text textField"
                            text-angular
                            ta-toolbar="[['bold','italics','underline','strikeThrough','ul','ol','justifyLeft','justifyCenter','justifyRight','insertImage','insertLink','insertVideo']]"
                            placeholder="{{text}}" ng-model="text">
                        </div>
                       
                    </div>
                </div>

                <span class="col-xs-6 col-md-5 crea out">
                    Crea
                    la tua prima nota</span>

                <div class="col-xs-3 col-md-4 out hidden-xs">
                    <img src="images/logo2.png" class="imageFirstNode" />
                </div>
            </div>
            <div class="row rowExamples out"
                style="margin-top: 1%">
                <h1 class="col-xs-12">
                    <i class="fa fa-sticky-note-o"
                        aria-hidden="true"></i><span style="margin-left: 15px;">
                            Scopri
                    i nostri servizi</span>
                </h1>
                <div class="col-xs-12 col-md-3 col-lg-4 notesExamples centered hvr-curl-top-right"
                    id="firstImg">
                </div>
                <div class="col-xs-12 col-md-3 col-lg-4 notesExamples centered hvr-curl-top-right"
                    id="secondImg">
                </div>
                <div class="col-xs-12 col-md-3 col-lg-4 notesExamples centered hvr-curl-top-right"
                    id="thirdImg">
                </div>
            </div>


        </section>

    </div>



</div>
