body {
    font-family: Open Sans Condensed, sans-serif;
    overflow-x: hidden;
}

.fullPage, .fullPageNotes {
    display:none;
}

.centered {
    float: null;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.title {
    margin: 0;
    top: 5px;
    color: black;
    font-family: NTR;
    letter-spacing: 2px;
    font-size: 24pt;
}

.divEditor {
    /*margin-top: 10px;*/
    display: none;
}

    .divEditor input {
        height: 40px;
        font-size: 13pt;
        color: black;
        /* border-bottom-left-radius:30px;
        border-top-left-radius:30px;
        border-bottom-right-radius:30px;
        border-top-right-radius:30px;
        padding-left:15px;*/
    }

/*.modal-vertical-centered {
        transform: translate(0, 40%) !important;
        -ms-transform: translate(0, 40%) !important; 
        -webkit-transform: translate(0, 40%) !important; 
    }*/

#myModal3 h4 {
    color: black;
}


#myModal3 .btnOptions {
    /*color: white;
    background: rgb(48,48,48);*/
    color: black;
    font-size: 14pt;
    margin-bottom: 5px;
}

.divEditor button {
    font-size: 15pt;
    font-weight: bold;
}

.row-navbar-menuPrincipal {
    background: #8C9EFF;
    color: white;
    border-bottom: solid 3px rgb(48,48,48);
}

.asideNotes {
    border-top-color: transparent;
    height: 900px;
}

    .asideNotes::-webkit-scrollbar-button:vertical {
        background-color: red;
        border: 1px dashed blue;
    }

.logoMinimal {
    width: 50px;
    height: 40px;
    cursor: pointer;
    margin-top: -3px;
    margin-bottom: 5px;
}

.asidev2 {
    background: #ccd4ff;
    border: solid 1px #8C9EFF;
    overflow-y: scroll;
    overflow-x: hidden;
}

#preview1 {
    margin-top: 12%;
    background: rgb(48,48,48);
    width: 100%;
    min-height: 400px;
}

    #preview1 article {
        font-size: 20pt;
        text-align: center;
        color: white;
        padding: 10px;
        font-family: Gloria Hallelujah;
        font-weight: lighter;
    }

#preview2 article {
    font-size: 20pt;
    text-align: center;
    padding: 10px;
    font-family: Gloria Hallelujah;
    font-weight: lighter;
    color: black;
}

#preview2 {
    background: #8C9EFF;
    width: 100%;
    min-height: 400px;
    color: black;
    margin-top: 5%;
}

.asideNotes h3 {
    width: 80%;
    height: auto;
}

.blockNote {
    margin-left: -15px;
    -webkit-transition: all 0.3s ease-in-out;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px black;
}

    .blockNote:hover {
        -webkit-transition: all 0.3s ease-in-out;
        cursor: pointer;
        background: #8C9EFF;
    }

.delete-yes {
    background: #ff6a00;
    font-size: 13pt;
}

.no-display, .no-show, .no-text {
    display: none;
}

/*::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}*/

.sectionNotes {
    font-size: 15pt;
    margin-top: 2%;
    left: 15px;
}

.textField {
    width: 80%;
    margin-top: 3%;
}

.inputArea {
    font-size: 30pt;
    width: 80%;
}


.saveButton {
    background: #8C9EFF;
    color: black;
    font-size: 15pt;
}

.circleFeatures {
    font-size: 20pt;
    text-align: center;
    margin-bottom: 2%;
    color: black;
    /*width: 70px;
    height: 70px;*/
    min-width: 50px;
    min-height: 50px;
    max-width: 65px;
    max-height: 65px;
    padding: 10px 16px;
    border-radius: 35px;
}

.circleFeaturesSettings {
    font-size: 20pt;
    text-align: center;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 25px;
    background: rgb(48,48,48);
    color: white;
    margin-left: 1%;
}

.rectFeaturesSettings {
    font-size: 20pt;
    text-align: center;
    width: 50px;
    height: 40px;
    margin-bottom: 5px;
    background: rgb(48,48,48);
    color: white;
    margin-left: -25px;
}

    .rectFeaturesSettings:hover, .rectFeaturesSettings:visited, .rectFeaturesSettings:active, .rectFeaturesSettings:focus {
        color: white;
    }

#sidebarIcon {
    margin-left: 2%;
    font-size: 15pt;
}

#addFeatures {
    background: #8C9EFF;
}

#editFeatures {
    background: #fddf00;
    margin-left: 10px;
}

#uploadFeatures {
    margin-left: 10px;
}

#customFeatures {
    background: #89f646;
    margin-left: 10px;
}

#deleteFeatures {
    background: #ff5100;
    margin-left: 10px;
}

#shareFeatures {
    background: rgb(48,48,48);
    margin-left: 10px;
    color: white;
    float: right;
    right: 20px;
}

.dropdown-menu-right {
    margin-top: 70px;
}

    .dropdown-menu-right li {
        font-size: 18pt;
        padding-left: 5px;
    }

.circleFeatures:hover {
    color: black;
}

.rangeColors {
    margin-top: 8%;
}

.inputArea {
    border: solid 1px transparent;
    border-bottom: dotted 1px black;
    margin-bottom: 1%;
}

.crea {
    font-size: 40pt;
    letter-spacing: 1px;
    margin-top: -10px;
    margin-left: 20px;
}

.imageFirstNode {
    font-size: 150pt;
    color: black;
    text-align: center;
    margin-top: -2%;
}

.rowExamples h1 {
    background: #8C9EFF;
    padding: 1%;
    padding-left: 2%;
    font-size: 25pt;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.notesExamples {
    padding: 1%;
    font-size: 15pt;
    border: solid 20px white;
    height: 200px;
}

.modalColors {
    opacity: 0.8;
    color: white;
    margin-left: 5%;
}

.input-icon {
    position: relative;
}

    .input-icon i {
        float: right;
        position: absolute;
        display: block;
        margin: 0;
        top: 8px;
        right: 17px;
        font-size: 17pt;
        color: black;
    }

.modalColors:hover, .modalColors:active, .modalColors:visited, .modalColors:focus {
    opacity: 1;
    color: white;
}

.orange {
    background: #ff6a00;
}

.red {
    background: red;
}

.dark {
    background: rgb(48, 48, 48);
}

.beige {
    background: #c68e47;
}

.green {
    background: #89f646;
}

.blue {
    background: #8C9EFF;
}

.light {
    background: #ccd4ff;
}

.white {
    background: white;
    color: black;
    float: right;
}

    .white:hover, .white:visited, .white:active, .white:focus {
        border: solid 1px black;
        color: black;
    }

.yellow {
    background: #f9ff26;
}

.black {
    background: black;
}

.purple {
    background: #a000ff;
}

footer {
    text-align: center;
    background: #8C9EFF;
    color: black;
    font-size: 18pt;
    position: relative;
    margin-top: 5%;
}

    footer span {
        background: #8C9EFF;
        padding-top: 5px;
        padding-bottom: 5px;
    }

.btn:focus, .btn:active, .btn:visited, .inputArea:focus, .inputArea:active, .inputArea:visited {
    outline: none;
}

.active {
    left: 0;
}

/*
    roba non mia sotto
    
*/


.navbar-header {
    float: none;
    text-align: center;
}

/* top bar */
.navbar {
    text-transform: uppercase;
    background-color: #ccd4ff;
    border: none;
}

    .navbar a {
        color: #fff;
        font-weight: 300;
        text-decoration: none;
    }

.navbar-default .navbar-brand {
    color: #fff;
    font-weight: bold;
    margin: 0;
    line-height: 50px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    float: none;
}


/* toggle button */
.navbar-toggle {
    border: none;
    color: #fff;
    margin: 0;
    padding: 18px 15px;
    border-radius: 0px;
    float: left;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ccd4ff;
}

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }


/* Position where the element is fixed */
.affix {
    top: 50px;
    width: 200px;
}

#affix {
    width: 200px;
}

.nav li a {
    border-bottom: 1px solid #ddd;
    color: #ccd4ff;
}

    .nav li a i {
        margin-right: 20px;
    }


/*
    starting loading contents page
*/

.rowPrincipal {
    background: #8C9EFF;
    color: black;
    min-height: 100vh;
    text-align: center;
}

.titlePrincipal {
    margin-top: 10%;
    font-size: 120pt;
    font-family: Gloria Hallelujah;
}

.rowPrincipal h2 {
    margin-top: 5%;
    font-family: Poiret One;
    font-weight: bold;
}

.rowPrincipal h3 {
    margin-top: 10%;
}

/* collapsed sidebar styles */
@media screen and (max-width: 992px) {
 
     
    .affix {position: static;}
    #affix{width: 100%;}
   
    .sidebar-offcanvas{-webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
         
        width:70%;
        background-color: #ccd4ff;
        z-index: 51;
        margin: 0; padding: 0;
        position: fixed;
        top:120px;
        left: -70%;
        font-size:15pt;
        padding-left:10px;
    }
     
    .sidebar-offcanvas ul li{margin:0}
    .sidebar-offcanvas ul li a{color:#fff;padding: 15px 20px;margin:0;font-size: 15px;border-bottom: 1px solid #d6474d}
    .sidebar-offcanvas ul li a:hover{background:#54303a;border:none; border-radius:0}
     
    .nav{margin-top: 0px;}
    .nav > li > a:hover, 
    .nav > li > a:focus{background-color: #ff625f}
     
    .active {left: 0;}
     
  
}

@media screen and (max-width: 544) {
.titlePrincipal{
    font-size: 20px;
  }
}
