body {
    font-family: Open Sans Condensed, sans-serif;
    overflow-x: hidden;
}

.centered {
    float: null;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.title {
    margin-top: 5px;
    color: black;
    font-family: Gloria Hallelujah;
    letter-spacing: 2px;
    font-size: 28pt;
}

.divEditor {
    margin-top: 10px;
    display: none;
}

.findNotes {
    width: 50%;
    font-size: 13pt;
    color: black;
    padding: 5px;
}

.divEditor button {
    font-size: 15pt;
    font-weight: bold;
}

.grassetto:hover {
    font-weight: bold;
}

.corsivo:hover {
    font-style: italic;
}

.sottolineato:hover {
    text-decoration: underline;
}

.barrato:hover {
    text-decoration: line-through;
}

.row-navbar-menuPrincipal {
    background: #8C9EFF;
    color: white;
    border-bottom: solid 3px rgb(48,48,48);
}

.asideNotes {
    border-top-color: transparent;
    height: 900px;
}

.asidev2 {
    background: #ccd4ff;
    border: solid 1px #8C9EFF;
    overflow-y: scroll;
}

#preview1 {
    margin-top: 15%;
    background: rgb(48,48,48);
    width: 100%;
    min-height: 400px;
}

    #preview1 article {
        font-size: 20pt;
        text-align: center;
        color: white;
        padding: 10px;
        font-family: Gloria Hallelujah;
        font-weight: lighter;
    }

#preview2 article {
    font-size: 20pt;
    text-align: center;
    padding: 10px;
    font-family: Gloria Hallelujah;
    font-weight: lighter;
    color: black;
}

#preview2 {
    background: #8C9EFF;
    width: 100%;
    min-height: 400px;
    color: black;
}

.asideNotes h3 {
    width: 80%;
    height: auto;
}

.blockNote {
    margin-left: -15px;
    -webkit-transition: all 0.3s ease-in-out;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px black;
}

    .blockNote:hover {
        -webkit-transition: all 0.3s ease-in-out;
        cursor: pointer;
        background: #8C9EFF;
    }

.delete-yes {
    background: #ff6a00;
    font-size: 13pt;
}

.no-display, .no-show, .no-text {
    display: none;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.sectionNotes {
    font-size: 15pt;
    margin-top: 2%;
    left: 15px;
}

.textField {
    width: 80%;
}

.inputArea {
    font-size: 30pt;
    width: 80%;
}


.saveButton {
    background: #8C9EFF;
    color: black;
    font-size: 15pt;
}

.circleFeatures {
    font-size: 20pt;
    text-align: center;
    margin-bottom: 2%;
    color: black;
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
}

.circleFeaturesSettings {
    font-size: 20pt;
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    background: rgb(48,48,48);
    color: white;
    float: right;
    margin-right: 1%;
}

    .circleFeaturesSettings:hover, .circleFeaturesSettings:visited, .circleFeaturesSettings:active, .circleFeaturesSettings:focus {
        color: white;
    }

#addFeatures {
    background: #8C9EFF;
}

#editFeatures {
    background: #fddf00;
    margin-left: 10px;
}

#uploadFeatures {
    margin-left: 10px;
}

#customFeatures {
    background: #89f646;
    margin-left: 10px;
}

#deleteFeatures {
    background: #ff5100;
    margin-left: 10px;
}

#shareFeatures {
    float: right;
    background: rgb(48,48,48);
    color: white;
    margin-right: 3%;
}

.dropdown-menu-right {
    margin-top: 70px;
}

    .dropdown-menu-right li {
        font-size: 18pt;
        padding-left: 5px;
    }

.circleFeatures:hover {
    color: black;
}

.rangeColors {
    margin-top: 8%;
}

.inputArea {
    border: solid 1px transparent;
    border-bottom: dotted 1px black;
    margin-bottom: 1%;
}

.crea {
    font-size: 40pt;
    letter-spacing: 1px;
    margin-top: -10px;
    margin-left: 20px;
}

.imageFirstNode {
    font-size: 150pt;
    color: black;
    text-align: center;
    margin-top: -2%;
}

.rowExamples h1 {
    background: #8C9EFF;
    padding: 1%;
    padding-left: 2%;
    font-size: 25pt;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.notesExamples {
    padding: 1%;
    font-size: 15pt;
    border: solid 20px white;
    height: 200px;
}

.orange {
    background: #ff6a00;
    color: black;
}

.blue {
    background: #8C9EFF;
    color: black;
}

.grey {
    background: #ccd4ff;
    color: black;
}

footer {
    text-align: center;
    background: white;
    color: black;
    font-size: 18pt;
    position: relative;
    bottom: 0;
}

    footer span {
        padding-top: 5px;
        padding-bottom: 5px;
    }

.btn:focus, .btn:active, .btn:visited, .inputArea:focus, .inputArea:active, .inputArea:visited {
    outline: none;
}

/*
    starting loading contents page
*/

.rowPrincipal {
    background:#8C9EFF;
    color:black;
    min-height:100vh;
    text-align:center;
}

.titlePrincipal {
    margin-top:10%;
    font-size:120pt;
    font-family:Gloria Hallelujah;
}

.rowPrincipal h2 { 
    margin-top:5%;
    font-family:Poiret One;
    font-weight:bold;
}

.rowPrincipal h3 { 
    margin-top:10%;   
}

