body {
    font-family: Open Sans Condensed, sans-serif;
    overflow-x: hidden;
}

.centered {
    float:null;
    margin:0 auto;
}

.center {
    text-align:center;
}

.title {
    margin-top:5px;
    color:black;
    font-family:Wire One;
    letter-spacing:1px;
    font-weight:bold;
    font-size:35pt;
}

.divEditor {
    margin-top:10px;
    display:none;
}

    .divEditor button {
        font-size:15pt;
        font-weight:bold;
    }

.grassetto:hover {
    font-weight: bold;
}
.corsivo:hover {
    font-style: italic;
}
.sottolineato:hover {
    text-decoration: underline;
}
.barrato:hover {
    text-decoration: line-through;
}

.row-navbar-menuPrincipal {
    background:#8C9EFF;
    color:white;
    border-bottom:solid 8px #c7d3d5;
}

.asideNotes {
    background:#ccd4ff;
    border:solid 1px #8C9EFF;
    border-top-color:transparent;
    height:95vh;
}

.blockNote {
    padding-left:10px;
    padding-bottom:10px;
    border-bottom:solid 1px black;
    display:none;
}

.no-display {
    display:none;
}

.sectionNotes{
    font-size:15pt;
    margin-top:2%;
}

    .sectionNotes textarea {
        margin-top:1%;
        width:80%;
        height:200px;
        resize:vertical;
        padding-left:10px;
        padding-top:10px;
        font-size:20pt;
        font-family:Open Sans Condensed;
    }

.inputArea {
    font-size:30pt;
    width:80%;
}

.circleFeatures {
    font-size:20pt;
    text-align:center;
    margin-bottom:2%;
    color:black;
    width:70px;
    height:70px;
    padding: 10px 16px;
    border-radius:35px;
}

#addFeatures {
    background: #8C9EFF;
}

#customFeatures {
    background:#ccd4ff;
    margin-left:10px;
}

#deleteFeatures {
    background:#ff5100;
    margin-left:10px;
}

#shareFeatures {
    float:right;
    margin-right:3%;
}

    .circleFeatures:hover {
        color:black; 
    }

.inputArea {
    border:solid 1px transparent;
    border-bottom:dotted 1px black;
}

.crea {
    font-size:40pt;
    letter-spacing:1px;
    margin-top:-10px;
    margin-left:20px;
}

.imageFirstNode {
    font-size:150pt;
    color:black;
    
    text-align:center;
    margin-top:-2%;
}

.rowExamples h1{
    background:#8C9EFF;
    padding:1%;
    padding-left:2%;
    font-size:25pt;
    border-top-left-radius:40px;
    border-bottom-left-radius:40px;
}
.notesExamples {
    padding: 1%;
    font-size: 15pt;
    border:solid 20px white;
    height:200px;
}
.orange {
    background:#ff6a00; 
    color:black; 
}
.blue {
    background:#8C9EFF;
    color:black;
}
.grey {
    background:#ccd4ff;
    color:black;
}

